@{
    ViewData["Title"] = "Home Page";
    string studentsTitle = "Welcome G3 students !";
}

<div class="text-center">
    <h1 class="display-4">@studentsTitle</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
