@model StudentWithCourseDto
<h2>Student by id</h2>

<div>
    <dl class="row">
        <dt>
            Full Name
        </dt>
        <dd>
            @Model.FullName
        </dd>
        <dt>
            Age
        </dt>
        <dd>
            @Model.Age
        </dd>
        <dt>
            Name of Course
        </dt>
        <dd>
            @Model.NameOfCourse
        </dd>
    </dl>
</div>